.u-section-1 {
  min-height: 1186px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 340px;
  background-image: url("images/d2.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 110px;
}

.u-section-1 .u-group-1 {
  width: 646px;
  min-height: 250px;
  margin: -286px auto 0 484px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 4.5rem;
  margin: 56px 84px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 20px 800px 0 137px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  line-height: 2;
  margin: 20px 783px 0 137px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 21px 103px 0 137px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  line-height: 2;
  margin: 20px 881px 0 136px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 55px auto 0 89px;
  padding: 31px 25px 32px 24px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  line-height: 2;
  margin: -535px calc(((100% - 1140px) / 2) + 45px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: -123px calc(((100% - 1140px) / 2) + 65px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 101px calc(((100% - 1140px) / 2) + -1px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  line-height: 2;
  margin: 20px calc(((100% - 1140px) / 2) + 94px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 55px calc(((100% - 1140px) / 2) + 186px) 60px auto;
  padding: 30px 71px 31px 70px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1099px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -295px;
    margin-left: 334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 662px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 683px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    width: 285px;
    margin-right: 3px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-5 {
    width: 143px;
    margin-right: 781px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -467px;
    margin-right: calc(((100% - 940px) / 2) + -68px);
    margin-left: calc(((100% - 940px) / 2) + 483px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -121px;
    margin-right: calc(((100% - 940px) / 2) + -14px);
    margin-left: calc(((100% - 940px) / 2) + 450px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 161px;
    margin-right: calc(((100% - 940px) / 2) + -13px);
    margin-left: calc(((100% - 940px) / 2) + 382px);
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 464px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2) + 84px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1037px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 250px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    margin-top: -250px;
    margin-left: 221px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 455px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 476px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 34px;
    margin-right: 401px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 8px;
    margin-right: 543px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin: 88px 176px -18px auto;
    padding: 23px 14px 23px 13px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -465px;
    margin-right: calc(((100% - 720px) / 2) + 13px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-1 .u-text-7 {
    margin-top: -123px;
    margin-right: calc(((100% - 720px) / 2) + -34px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 163px;
    margin-right: calc(((100% - 720px) / 2) + 29px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    margin-top: 18px;
    margin-right: calc(((100% - 720px) / 2) + 24px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 146px;
    margin-right: auto;
    margin-bottom: 48px;
    padding: 21px 52px 22px 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1235px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-top: -55px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 21px;
    margin-right: 328px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-right: 363px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 15px;
    margin-right: 288px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 12px;
    margin-right: 379px;
    margin-left: 48px;
  }

  .u-section-1 .u-btn-1 {
    margin: 75px 36px 0 108px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -478px;
    margin-right: calc(((100% - 540px) / 2) + 62px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    margin-top: -111px;
    margin-right: calc(((100% - 540px) / 2) + 35px);
    margin-left: calc(((100% - 540px) / 2) + 264px);
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
    margin-top: 127px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -1px;
    margin-right: calc(((100% - 540px) / 2) + 21px);
    margin-left: calc(((100% - 540px) / 2) + 302px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 141px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2) + 91px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1357px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 29px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 75px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-1 .u-text-2 {
    width: 205px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 205px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 71px;
    margin-right: 40px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 6px;
    margin-right: 138px;
    margin-left: 119px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 214px;
    margin-right: 18px;
    margin-left: auto;
    padding: 16px 7px 17px 6px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: 208px;
    margin-top: -469px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -84px;
    margin-right: calc(((100% - 340px) / 2) + 67px);
    margin-left: calc(((100% - 340px) / 2) + 33px);
  }

  .u-section-1 .u-text-8 {
    width: 267px;
    margin-top: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    width: 276px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin: 155px 130px 48px 96px;
    padding: 10px 30px 11px 29px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 381px;
  margin: 72px auto 0;
}

.u-section-2 .u-list-1 {
  width: 868px;
  min-height: 579px;
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  margin: 47px auto 60px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px 472px 0 147px;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0 147px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px 472px 0 147px;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0 147px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/grey_bg.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px 472px 0 147px;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 398px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 250px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 250px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 131px;
  }
}